@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,600&display=swap');

:root {
    --brand-500: hsla(21, 90%, 49%, 1);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.6rem;
    margin: 0 auto;
}

main {
    padding: 2.4rem;
}